<div class="banner">
  <%= image_tag("logo") %>
</div>
<div class="container">
  <h1 class="recipes-header">Recipes of the Week</h1>
  <div class="recipes-grid">
    <% @recipes.each do |recipe| %>
      <div class="recipe-container">
        <img src="<%= recipe.photo.url %>" class="recipe-photo"/>
        <h3> <%= recipe.title %></h3>
        <%= link_to "Learn more", recipe_path(recipe.id), class:"recipe-link"%>
      </div>
    <% end %>
  </div>
</div>
