/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,400&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  color: #2d2a26;
  background-color: #F6F6F6;
  margin: 0;
}

.banner img{
  width: 100px;
}

.banner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;
  padding: 20px 0;
}

.container {
  width: 50%;
  height: fit-content;
  margin: 30px auto;
  text-align: center;
}

.recipes-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.recipe-photo {
  width: 400px;
  height: auto;
}

.recipe-container {
  background-color: white;
  padding: 40px 20px 40px 20px;
  border-radius: 5px;
}

.recipe-link {
  background-color: #47d7ac;
  color: #2d2a26;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.5s ease;
}

.recipe-link:hover {
  background-color: #91e7cd;
}
